// Nesting //는 컴파일링 안됨 > 함유되는 중첩되는? 설명적으로는 Tree
// 하위 메뉴 포함 부모에 자식요소 처럼 포함관계를 Nesting이라 한다.
/*
주석 컴파일링 됨
*/

// mixin 속성을 묶는
@mixin fontSizeBgColor($fontSize, $bgColor) {
    font-size: $fontSize;
    background-color: $bgColor;
}
// 인자 값을 지정할 수도 있음 그럴 경우 인자값 없이 쓰면 기본값이 들어감
@mixin font_size_color($fontSize: 50px, $bgColor: #ff00aa) {
    font-size: $fontSize;
    background-color: $bgColor;
}

@mixin linkStyle($textColor, $textDeco) {
    color: $textColor;
    text-decoration: $textDeco;
}

html {
    font-size: 18px;
}

body {
    margin: 20px;
    background-color: #fff4ef;
}

div {
    color: #333;
    padding: 20px;
}

a {
    display: inline-block;
    margin: 10px 0;
}

#box1 {
    // & { Ampersand (앰퍼샌드) 상위 자신을 나타냄. 생략해도 됨.
    @include fontSizeBgColor (40px, #ffcccc);
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
    &:hover {
        background-color: #ccc;
    } // 중복된 코드 사용 시 따로 빼서 사용
    &,
    &_title {
        border-radius: 20px;
        border: 3px solid #f00;
    } // #box1_title
    &_title {
        font-style: italic;
        text-decoration: underline;
    } // }
    // & Ampersand (앰퍼샌드) 직계
    & > a {
        @include linkStyle(#a22, none);
        &:hover {
            @include linkStyle(#000, underline);
            @media screen and (max-width: 500px) {
                background-color: #999
            }
        }
    } // & > a:hover {
    //     color: #000;
    //     text-decoration: underline;
    // }
    @media screen and (max-width: 500px) {
        font-size: 14px;
    }
    @media screen and (min-width: 501px) and (max-width:900px){
        font-size:24px;
    }
}
 

#box1 #box2 {
    @include font_size_color();
    border-radius: 20px;
    border: 3px solid #f00;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
    &>a {
        color: #ee6633;
        text-decoration: none;
        &:hover {
            color: #a22;
            text-decoration: underline;
        }
    }
}