footer {
    color: #fff;
    background-color: #3f4a56;

    @include clearfix();

    #logo_text_footer {
        width: 25%;
        font-size :4rem;
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        text-transform: uppercase;
        float: left;
    }

    #copyright {
        width: 75%;
        font-size: 1.2rem;
        float: left;

        p:nth-child(1) {
            margin-bottom: 2rem;
            word-break: break-all;
            text-align: justify;

            column-count: 3;
            column-gap: 3rem;
            column-rule-style: dashed;
            column-rule-color: #888;
            column-width: 1rem;
        }
    }
}